@use 'variables' as v;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: v.$primaryFont;
  background-color: v.$white;
  font-weight: 400;
}

.container {
  max-width: 140rem;
  width: 95%;
  margin-inline: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: v.$secondaryFont;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}