//Colors
//Primary
$darkBlue: hsl(243, 87%, 12%);
$lightBlue: hsl(238, 22%, 44%);
//Accent
$brightBlue: hsl(224, 93%, 58%);
$cyan: hsl(170, 45%, 43%);
//Neutral
$lightGrayishBlue:hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);
$white: #fff;

//Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

//Typography
$primaryFont:'Open Sans', sans-serif;
$secondaryFont: 'Raleway', sans-serif;